<%= simple_form_for GroupGist.new do |f| %>
  <div class="d-flex align-items-center">
    <%= f.association :group,
                      collection: Group.where(user: current_user) - GroupGist.where(user_gist: gist.id).map(&:group),
                      label: false %>
    <%= f.input :user_gist_id, as: :hidden, input_html: {  value: gist.id } %>
    <%= f.submit "Add to Group" %>
  </div>
<% end %>
