<%= simple_form_for GroupGist.new, html: { id: "group_gist_for#{gist.id}" } do |f| %>
  <div class="inline-modal-form">
    <%= f.association :group,
                      collection: Group.where(user: current_user) - GroupGist.where(user_gist: gist.id).map(&:group),
                      label: false, prompt: 'Select a Group' %>
    <%= f.input :user_gist, as: :hidden, input_html: {  value: gist.id } %>
    <%= f.submit "Add to Group", class: "btn btn-primary" %>
  </div>
<% end %>

