<%= simple_form_for GroupGist.new do |f| %>
  <div class="d-flex align-items-center">
    <%= f.input :group, collection: user.groups, label: false %>
    <%= f.submit "Add to Group" %>
  </div>
<% end %>
