<div class="new_gists">
  <div class="new_gists_count_text">
    <i class="fas fa-code-branch"></i> You have <%= pluralize(@count, "new gist") %>
  </div>
  <%= link_to user_gists_path(@user.githubname) do %>
    <div class="github-cta-button">
      New Gists
    </div>
  <% end %>
</div>
