<div class="offset-sm-4 col-sm-4">
  <%= link_to user_github_omniauth_authorize_path do %>
    <button class="github-login">
      <i class="fab fa-github github-social"></i>
      Sign up with GitHub
    </button>
  <% end %>

  <h2>Sign up</h2>

  <%= render "devise/registrations/form", resource: resource, resource_name: :user %>

  <%= render "devise/shared/links" %>
</div>
