<div class="offset-sm-4 col-sm-4">
  <div class="github-cta-button">
    <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
  </div>

  <h2>Sign up</h2>
  <%= raise %>

  <%= render "devise/registrations/form", resource: resource, resource_name: :user %>

  <%= render "devise/shared/links" %>
</div>
