<div class="offset-sm-4 col-sm-4">
  <%= link_to user_github_omniauth_authorize_path, class: "github-link", method: :post do %>
    <button class="github-login">
      <i class="fab fa-github github-social"></i>
      Sign up with GitHub
    </button>
  <% end %>

  <div class="signin-form">

    <h3>Create your account</h3>

    <%= render "devise/registrations/form", resource: resource, resource_name: :user %>
  </div>
  <div class="signup-form">
    Already have an account? <%= link_to "Sign in", new_user_session_path %>.
  </div>
</div>
