<%= simple_form_for gist_label, html: { id: "label_for#{gist.id}" } do |f| %>
  <div class="d-flex align-items-center">
    <%= f.association :label,
                      collection: Label.where(user: current_user) - gist.labels,
                      label: false %>
    <%= f.input :gist, :as => :hidden, :input_html => { :value => gist.id } %>
    <%= f.submit "Add Label" %>
  </div>
<% end %>
