.get-started-container {
  .get-started {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .get-started-installation-section, .get-started-ctas {
      width: 50%;
      margin: 40px;
      min-height: 324px;
      .get-started-installation-section-option {
        font-size: 18px;
        .bolded {
          font-weight: bold;
        }
        .underlined {
          text-decoration: underline;
        }
        .greyed {
          color: grey;
        }
      }
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  padding-top: 24px;
}

