.gist-card {
  font-size: 14px;
  margin: auto;
  .gist-data.small-gist {
    height: 119px;
    overflow: hidden;
  }
  .timestamp {
    font-size: 12px;
  }
  .gist {
    padding-left: 32px;
    border-left: 1px solid #e1e4e8!important;
    box-sizing: border-box;
    margin-left: 14px;
  }
  &.disabled {
    opacity: 0.6 !important;
  }
  .file-wrapper {
    margin-left: 30px;
    padding-left: 16px;
    border-left: 1px solid #ddd;
    .gist-node {
      border-radius: 50%;
      border: 2px solid #ddd;
      width: 9px;
      position: absolute;
      height: 9px;
      background-color: white;
      left: 41px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
    .highlight-file-info {
      border: 1px solid #ddd;
      border-top: none;
      border-radius: 0 0 6px 6px;
      height: 40px;
      padding: 10px;
      overflow: hidden;
      font: 12px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
      color: #586069;
      font-weight: bolder;
      margin-left: 14px;
      background-color: #f7f7f7;
      a {
        font: 12px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        color: #586069;
        font-weight: bolder;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .unrecognized-file-type {
    margin: 40px 40px 40px 8px;
    display: flex;
    justify-content: space-around;
  }
}

.creator {
  padding: 0px;
  width: 100%;
  .creator-githubname {
    font-size: 14px;
    font-weight: bold;
  }
  .options {
    color: #666666;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    transition: transform 0.5s ease;
    opacity: 0.9;
    &:hover {
      transform: rotate(45deg);
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
}
