.gist-card {
  font-size: 14px;
  width: 66vw;
  margin: auto;
  .gist-data.small-gist {
    height: 119px;
    overflow: hidden;
  }
  .timestamp {
    font-size: 12px;
  }
}
.creator {
  padding: 0px;
  .creator-githubname {
    font-size: 14px;
    font-weight: bold;
  }
}
