.gist-card {
  font-size: 14px;
  margin: auto;
  .gist-data.small-gist {
    height: 119px;
    overflow: hidden;
  }
  .timestamp {
    font-size: 12px;
  }
  .gist {
    padding-left: 32px;
    border-left: 1px solid #e1e4e8!important;
    box-sizing: border-box;
    margin-left: 14px;
  }
  &.disabled {
    opacity: 0.6 !important;
  }
}
.creator {
  padding: 0px;
  width: 100%;
  .creator-githubname {
    font-size: 14px;
    font-weight: bold;
  }
  .options {
    color: #666666;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    transition: transform 0.5s ease;
    opacity: 0.9;
    &:hover {
      transform: rotate(45deg);
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
}
