.home {
  display: flex;
  background-color: white;
  padding: 0 0 36px 0;
  section {
    width: 40%;
    &:first-of-type {
      margin: 24px 24px 0 auto;
    }

    &:last-of-type {
      margin: 24px auto 0 24px;
    }
    .code-block {
      display: flex;
    }
  }
}

.github-links {
  margin-top: 12px;
}

.get-started {
  margin-top: 24px;
}

.repo-link {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
}
