.home-section {
  color: #ffffff;
  height: calc(100vh - 72px);
  background: rgba(3, 37, 108, 0.7);
  padding-top: 128px;
  h1 {
    font-size: 72px;
    line-height: 1;
  }
  .home-banner-text {
    font-size: 24px;
  }
  .form-inputs {
    font-weight: bold;
    input {
      height: 48px;
      padding: 5px 12px;
      font-size: 14px;
      line-height: 20px;
      color: #24292e;
      vertical-align: middle;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: right 8px center;
      border: 1px solid #e1e4e8;
      border-radius: 6px;
      outline: none;
      box-shadow: inset 0 1px 0 rgba(225,228,232,.2);
    }
  }
  .form-actions {
    input {
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
    display: inline-block;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1074e7;
    border: 1px solid #1074e7;
    border-radius: 6px;
    transition: .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #2ebc4f;
    border-color: #2ebc4f;
    width: 100%;
    text-align: center;
  }
}

.banner {
  display: flex;
}

.banner-left,
.banner-right {
  margin: 5px;
  width: 50vw;
  height: calc(100vh - 61px);
}

.banner-left {
  margin-left: 20px;
}

.banner-bottom,
.banner-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-top {
  height: 80%;
}

.banner-cta {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  li {
    list-style: none;
  }
  img {
    height: 62px;
    margin-right: 4px;
  }
}

.home-get-started {
  position: absolute;
  right: calc(50% + 5px);
  bottom: 25px;
  a {
    font-size: 24px;
    color: black;
  }
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: levitate;
  animation-timing-function: linear;
}

.individual-contributors {
  display: flex;
  flex-direction: column;
  a {
    color: black;
  }
}

@keyframes levitate {
  0%   { transform: translateY(0); }
  75%  { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

.home-title {
  position: absolute;
  right: calc(70% - 48px);
  top: 15%;
  h1 {
    font-size: 56px;
    font-weight: bold;
  }
}

.home-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  display: flex;
  background-color: white;
  padding: 0 0 36px 0;
  section {
    width: 40%;
    &:first-of-type {
      margin: 24px 24px 0 auto;
    }

    &:last-of-type {
      margin: 24px auto 0 24px;
    }
    .code-block {
      display: flex;
    }
  }
}

.top-contributors {
  h4 {
    text-align: center;
  }
}

.github-link.home-login-cta {
  width: 320px;
}

section {
  margin: 0 24px;
    h2 {
    text-align: center;
    margin-bottom: 48px;
  }
}

.gist-example {
  .example {
    display: flex;
    justify-content: space-around;
    .left {
      width: 50%;
    }
    .right {
      width: 50%
    }
  }
}

#stats {
  text-align: center;
}

// .github-links {
//   margin-top: 12px;
// }


// .repo-link {
//   position: relative;
//   display: inline-block;
//   padding: 5px 16px;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 20px;
//   white-space: nowrap;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   border: 1px solid;
//   border-radius: 6px;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   color: #24292e;
//   background-color: #fafbfc;
//   border-color: rgba(27,31,35,.15);
//   box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
//   transition: background-color .2s cubic-bezier(.3,0,.5,1);
// }
