<%= simple_form_for label do |f| %>
  <%#= f.input :name, label: "Label" %>
  <div class="form-group string optional label_name d-flex">
    <label class="string optional user-create-option" for="label_name">Label</label>
    <input class="form-control string optional user-container-input" type="text" name="label[name]" id="label_name">
  </div>
<% end %>
