<div class="feed">
  <% if @gist_file.user_gist.description.present? %>
    <div class="gist-about">
      <h3>About this gist</h3>
      <div class="gist-description">
        <%= @gist_file.user_gist.description %>
      </div>
    </div>
  <% end %>
  <div class="gists">
    <%= render GistFiles::FileComponent.new(@gist_file.user_gist) %>
  </div>
</div>
