<div class="group-container" data-turbolinks="false">
  <% if @group.personal %>
    <%= render "personal_group_show", group: @group, group_gists: @group_gists %>
  <% else %>
    <%= render "group_show", group: @group, group_gists: @group_gists %>
  <% end %>
</div>
<%= render "group_modals", group: @group, add: @group.personal, settings: true %>
