<div class="admin-container">
  <%= simple_form_for :import, url: import_for_group_path do |f| %>
    <%= f.input :user_id, collection: User.all, label_method: :githubname, label: false %>

    <%= f.submit "import" %>
  <% end %>
</div>
