<div class="hom-container">
  <div class="banner" >
    <div class="banner-left" style="background: url(<%= asset_path('version_control.svg') %>); background-size: 100% 100%; height: calc(100vh -56px); background-repeat: no-repeat;">

    </div>
    <div class="banner-right">
      <div class="banner-top">
        <div class="banner-cta">
          <div>
            Share
          </div>
          <div>
            Collaborate
          </div>
          <div>
            Trace
          </div>
          <%= link_to user_github_omniauth_authorize_path, class: "github-link" do %>
            <button class="github-login">
              <i class="fab fa-github github-social"></i>
              Sign in with GitHub
            </button>
          <% end %>
        </div>
      </div>
      <div class="banner-bottom">
        Top Contributors:
        <% @users.each do |user| %>
          <%= user.githubname %>
          <%= user.user_gists.count %>
        <% end %>
      </div>
    </div>
  </div>
</div>
