<div class="home">
  <section class="home-left">
    <div class="how-to">
      <%= render Home::HowToComponent.new %>
    </div>
    <div class="get-started">
      <%= render Home::GetStartedComponent.new(user_signed_in?, current_user) %>
      <%= link_to "view this project on github", "https://github.com/Haumer/gisthub" %>
    </div>
  </section>
  <section class="home-right">
    <%= render Home::UsageComponent.new %>
  </section>
</div>
