<div class="home">
  <section class="home-left">
    <div class="how-to">
      <%= render Home::HowToComponent.new %>
    </div>
    <div class="get-started">
      <!-- Github visit repo link -->
      <%= render Home::GetStartedComponent.new(user_signed_in?, current_user) %>
    </div>
    <div class="github-links">
      <!-- Github star repo link -->
      <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=gisthub&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
      <!-- Github follow user link -->
      <iframe src="https://ghbtns.com/github-btn.html?user=haumer&type=follow&count=true" frameborder="0" scrolling="0" width="170" height="20" title="GitHub"></iframe>
  </section>
  <section class="home-right">
    <%= render Home::UsageComponent.new %>
  </section>

