<h2>Get Started</h2>
<% if @user_signed_in %>
  <div class="profile-cta">
    <div class="github-cta-button">
      <%= link_to user_path(@current_user.githubname) do %>
        Visit your Profile!
      <% end %>
    </div>
    <div class="github-cta-button">
      <%= link_to "View this project on github", "https://github.com/Haumer/gisthub" %>
    </div>
  </div>
<% else %>
  <div class="login-cta">
    <%= link_to user_github_omniauth_authorize_path, class: "github-link" do %>
      <button class="github-login w-50 m-0">
        <i class="fab fa-github github-social"></i>
        Sign in with GitHub
      </button>
    <% end %>
  </div>
<% end %>
