<div class="how-to-instructions">
  <% if @title %>
    <h2>How to use HubGist?!</h2>
  <% end %>
  <div class="row">
    <div class="step-1 col-sm-4">
      <%= render Home::InstallationComponent.new(title: false, long: false, defunkt: true, gh: false) %>
      <%= render Home::UsageComponent.new(title: false, long: false, defunkt: true, gh: false) %>
    </div>
    <div class="step-2 col-sm-4">
      <%= render Home::InstallationComponent.new(title: false, long: false, defunkt: false, gh: true) %>
      <%= render Home::UsageComponent.new(title: false, long: false, defunkt: false, gh: true) %>
    </div>
    <div class="step-3 col-sm-4">
      <p>
        HubGist allows you to automatically share gists to a Group:

        Prefix One file in your gist with the Group <b>:slug</b>
      </p>
      <p>
        For example if <b>B390</b> is my slug:
      </p>
      <div class="code-block">
        gist B390_hello_world.rb index.html style.css
      </div>
    </div>
  </div>
</div>
