<% if title %>
  <h3>
    <%= title %>
  </h3>
<% end %>
<% unless @long %>
  <% if defunkt %>
    <span>
      For Linux:
    </span>
    <div class="code-block">
      sudo apt install gist
    </div>
      For MacOS:
    <div class="code-block">
      brew install gist
    </div>
  <% else %>
  <!-- GH CLI -->
    <span>
      Install the CLI:
    </span>
    <div class="code-block">
      gem install gist
    </div>
      Authorize through GitHub:
    <div class="code-block">
      gh auth login -s 'user:email' -w
    </div>
  <% end %>
<% end %>

