<% if @title %>
  <h3>
    Create Your first Gist
  </h3>
<% end %>
<span>
‌  To create a gist:
</span>
<div class="code-block">
  gist a.rb
</div>
<span>
‌  Upload multiple files:
</span>
<div class="code-block">
  gist *.rb
</div>
<span>
  Use -d to add a description:
</span>
‌<div class="code-block">
  gist -d "Random rbx bug" a.rb
</div>
<% if @long %>
  <span>
    Alternatively, you can just paste from the clipboard:
  </span>
  ‌<div class="code-block">
    gist -P
  </div>
<% end %>

