<% if @title %>
  <h3>
    Create Your first Gist
  </h3>
<% end %>
<span>
‌  To create a gist:
</span>
<% if defunkt %>
  <div class="code-block">
    gist a.rb
  </div>
  <span>
  ‌  Upload multiple files:
  </span>
  <div class="code-block">
    gist *.rb
  </div>
  <% if @long %>
    <span>
      Alternatively, you can just paste from the clipboard:
    </span>
    ‌<div class="code-block">
      gist -P
    </div>
  <% end %>
<% else %>
  <!-- GH CLI -->
  <div class="code-block">
    gh gist create -p file_name.rb
  </div>
  <span>
  ‌  Upload multiple files:
  </span>
  <div class="code-block">
    gh gist create -p *.rb
  </div>
<% end %>

