.user-groups {
  display: flex;
  a {
    text-decoration: none;
    color: black;
    &:hover, &:visited {
      color: black;
    }
  }
}

.user-group {
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 1px solid;
  border-radius: 3px;
  padding: 8px;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

.group-member-label {
  height: 46px;
  border: 1px solid rgba(27,31,35,.15);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: opacity 0.3s ease-in-out;

  img {
    height: 32px;
    border-radius: 50%;
  }

  &:hover {
    opacity: 0.7;
  }
}

.feed {
  display: flex;
  margin: 24px auto;
  .user-feed {
    width: 20%;
  }
  .group-feed {
    width: 60%;
    border-radius: 5px;
  }
  .right-feed {
    width: 20%;
  }
}

.group-container {
  margin: 24px;
  a {
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease;
    &:hover, &:visited {
      color: black;
      opacity: 0.8;
    }
  }
}

.group-slugs {
  .group-slug {
    height: 33px;
    margin: 4px;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
