.group-main {
  background-color: #ffffff;
  padding-left: 50px;
  .group-main-nav {
    margin: 32px 16px;
    .group-stats {
      &:first-of-type {
        margin-right: 4px;
      }
      &:last-of-type {
        margin-left: 4px;
      }
      color: #24292e;
      background-color: #fafbfc;
      border: 1px solid;
      border-color: rgba(27,31,35,.15);
      border-radius: 6px;
      box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
      transition: background-color .2s cubic-bezier(.3,0,.5,1);
      position: relative;
      display: inline-block;
      padding: 5px 16px;
      font-size: 14px;
      font-weight: bolder;
      line-height: 20px;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      appearance: none;
    }
  }
  .right-box {
    margin: 32px 48px 0 0;
    span.group-about {
      font-size: 16px !important;
      font-weight: bolder;
    }
  }
  .options {
    color: #666666;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    transition: transform 0.5s ease;
    opacity: 0.9;
    &:hover {
      transform: rotate(45deg);
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
}

.user-groups {
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: black;
    &:hover, &:visited {
      color: black;
    }
  }
}

.user-group {
  margin-right: 2px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 1px solid;
  border-radius: 3px;
  padding: 8px;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

.gist-options {
  border: none;
  background-color: transparent;
  margin-left: 8px;
  transition: transform 0.5s ease;
  opacity: 0.9;
  &:hover {
    transform: rotate(45deg);
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.group-member-label {
  height: 46px;
  border: 1px solid rgba(27,31,35,.15);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: opacity 0.3s ease-in-out;

  img {
    height: 32px;
    border-radius: 50%;
  }

  &:hover {
    opacity: 0.7;
  }
}

.feed {
  display: flex;
  margin: 24px auto;
  .user-feed {
    width: 20%;
    font-size: 0.9rem;
    padding: 21px 10px 10px 10px;
    text-align: center;
  }
  .group-feed {
    width: 60%;
    border-radius: 5px;
  }
  .right-feed {
    width: 20%;
  }
}

.group-container {
  margin: 24px;
  a {
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease;
    &:hover, &:visited {
      color: black;
      opacity: 0.8;
    }
  }
}

.group-slugs {
  display: flex;
  .group-slug {
    height: 33px;
    margin: 4px;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
