<div class="container" data-turbolinks="false">
  <div class="page-content">
    <div class="gist-top-content">
      <div class="gist-search">
        <%= simple_form_for :search, url: user_user_gists_path(slug: @user.githubname), method: :get do |f| %>
          <%= f.input :keyword, label: false, placeholder: "Search your Gists" %>
        <% end %>
      </div>
    </div>
    <% if @gists.present? %>
      <% @gists.each do |gist| %>
        <%= render Gist::CardComponent.new(gist: gist, user: gist.user, full: true, modal: false, permitted: policy(gist).update?), current_user: current_user %>
      <% end %>
    <% end %>
  </div>
</div>
