<%= render Gist::NewGistCountComponent.new(params[:new_gists_count], @user) %>
<div class="default-container">
  <div class="actions">
    <% if policy(@user).get_gists? %>
      <%= link_to [ :get_gists, slug: @user.githubname ], method: :post do %>
        <div class="refresh-gist github-cta-button">
          <%= @gists.present? ? "Refresh" : "Import gists" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @gists.present? %>
    <% @gists.each do |gist| %>
      <%= render Gist::CardComponent.new(gist: gist, user: current_user) %>
    <% end %>
  <% end %>
</div>
