<div class="default-container">
  <%= render Gist::NewGistCountComponent.new(params[:new_gists_count], @user) %>
  <div class="refresh-gist github-cta-button">
    <%= link_to "refresh", [ :get_gists, slug: @user.githubname ], method: :post %>
  </div>
  <% if @gists.present? %>
    <% @gists.each do |gist| %>
      <%= render Gist::CardComponent.new(gist) %>
    <% end %>
  <% end %>
</div>
