<div class="container">
  <div class="gist-info">

  </div>
  <%= render Gist::CardComponent.new(gist: @gist, user: @gist.user, full: true, modal: false, permitted: policy(@gist).update?), current_user: current_user %>
</div>
