<div class="gist-activity">
  <table>
    <% calendar.each do |weekday| %>
      <div class="gist-activity-row">
        <% weekday.last.each_with_index do |day, index| %>
          <% if index.zero? && (day.cwday < Date.today.cwday) %>
            <div class="gist-activity-day">
            </div>
          <% end %>
          <div class="gist-activity-day" data-count="<%= user.user_gists.where(created_at: day.to_datetime).count %>">
          </div>
        <% end %>
      </div>
    <% end %>
  </table>
</div>

<style>
  .gist-activity {
    margin-bottom: 16px;
  }

  .gist-activity-row {
    display: flex
  }

  .gist-activity-day {
    height: 10px;
    width: 10px;
    margin: 1px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ddd
  }
</style>
