<div class="gist-activity-calendar">
  <h5><%= user.number_of_gists_since(Date.today - 365.day) %> Gists created in the last year</h5>
  <% calendar.each do |weekday| %>
    <div class="gist-activity-row">
      <% weekday.last.each_with_index do |day, index| %>
        <% if index.zero? && (day.cwday < Date.today.cwday) %>
          <div class="gist-activity-day">
          </div>
        <% end %>
        <div class="gist-activity-day <%= color_class(user.user_gists.select { |ug| ug.date.to_date == day }.count) %>" data-day="<%= day %>">
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="gist-activity">

</div>
