.user-small-card {
  height: 46px;
  width: 240px;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border: solid 2px;
  border-radius: 3px;
  border-color: grey;

  img {
    height: 32px;
    border-radius: 50%;
  }

  &:hover {
    opacity: 0.7;
  }
}
